<main>

    <div *ngFor="let product of productById" class="cards-container container flex" id="cardscontainer">



    </div>
</main>


    <div class="card" style="margin-left: 30px; margin-bottom: 15px;" id="template-news-card">
        <div class="card-header">
            <img src="https://img.freepik.com/free-photo/delicious-burger-with-fresh-ingredients_23-2150857908.jpg?t=st=1724397796~exp=1724401396~hmac=f78dbadb3e068ad41a99b4784e4682b6ffd09ee50f577166f30bf8e7a91b6cd8&w=740" alt="" id="news-img">
        </div>
        <div class="card-content">
            <h3 id="news-title">Delicious burger with fresh ingredients</h3>
            <h4 class="news-source" id="news-source">Rs. 110/-</h4>
            <button class="addtocart">
                <div class="pretext">
                  <i class="fas fa-cart-plus"></i> ADD TO CART
                </div>
                
                <div class="pretext done">
                  <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                </div>
                
              </button>
        </div>
        
    </div>
